<!DOCTYPE html>
<html data-layout-decorator="/layout/mainPage">
<head>
    <meta charset="utf-8" />
    <title>商品名</title>
    <style>
	body {
	    margin: 11px 11px 15px;
	    font-size: 14px;
	    line-height: 18px;
	    color: #505557;
	}
	img {
	    display: block;
	    width: 100%;
	    max-width: 100%;
	}
	img {
	    margin: 27px 0 10px;
		box-shadow:0 0 1px #cbcbcb;
	}
	img:first-child {
	    margin: 0 0 10px;
	}
	</style>
</head>
<body data-layout-fragment="content">
	<section class="proImg">
		<img src="http://xqproduct.xiangqu.com/FpzRFqZ4dqFApiFdYFf5GYnkvJyp?imageView2/2/w/300/q/100/@w/$w$@/@h/$h$@/480x763/" />
		<img src="http://xqproduct.xiangqu.com/FpzRFqZ4dqFApiFdYFf5GYnkvJyp?imageView2/2/w/300/q/100/@w/$w$@/@h/$h$@/480x763/" />
		大大的世界 我停在我的小角落 当我 遇见你 让我不再寂寞 在这里我想对你说......
		<img src="http://xqproduct.xiangqu.com/FnBgZI9UXcEI2uQNFeDCse4T9FJy?imageView2/2/w/300/q/100/@w/$w$@/@h/$h$@/480x480/" />
		大大的世界 我停在我的小角落 当我 遇见你 让我不再寂寞 在这里我想对你说......
		<img src="http://xqproduct.xiangqu.com/Fgqw2IGbEg01orKdY5AUGO5eTuUt?imageView2/2/w/210/q/100/@w/$w$@/@h/$h$@/480x320/" />
		大大的世界 我停在我的小角落 当我 遇见你 让我不再寂寞 在这里我想对你说......
		<img src="http://xqproduct.xiangqu.com/Fpxrplz_45WmME5xR7OVEIUbDCJp?imageView2/2/w/316/q/100/@w/$w$@/@h/$h$@/480x480/" />
		大大的世界 我停在我的小角落 当我 遇见你 让我不再寂寞 在这里我想对你说......
		<img src="http://xqproduct.xiangqu.com/Fl92kgRK2xLfPtpAGn5UY4CZHR8o?imageView2/2/w/381/q/100/@w/$w$@/@h/$h$@/480x480/" />
		大大的世界 我停在我的小角落 当我 遇见你 让我不再寂寞 在这里我想对你说......
	</section>
</body>
</html>