<!DOCTYPE html>
<html data-layout-decorator="/layout/mainPage">
<head>
    <meta charset="utf-8" />
    <title data-th-text="${product.name}">商品名</title>
</head>
<body>
<div data-layout-fragment="content">
    <section data-th-object="${product}" class="lined">
        <div class="banner-max-height">
            <img id="prod_img" data-th-alt="*{name}" data-vd-src="*{img}" class="full" />
        </div>
        <div class="pt25b30lr40">
            <h1 id="prod_title" data-th-text="*{name}" class="fz28 font-dark-bold widthhuanh" />
            <p class="mt30 clearfix">
                <span id="price" class="font-red-bold ff-numb fl-l fz38" data-th-attr="tag=#{price}" data-vd-price="*{price}"></span>
                <i class="ico-danbao fl-l" data-th-if="${shop.danbao}"><img data-vd-src="/_resources/images/shop/danbao.png" alt=""/></i>
                <!--
                <span class="greight c93 fz24">运费:&yen;15.00</span>
	                -->
            </p>
        </div>
    </section>
    <section data-th-object="${product}" class="lined">
        <form id="addToCartForm" method="POST" action="/cart/buy">
            <input type="hidden" id="sellerId" name="sellerId" value="shop.ownerId"/>
            <input type="hidden" id="productId" name="productId" data-th-value="${product.id}"/>
            <input type="hidden" id="skuId" name="skuId" data-th-value="${product.skus.size() eq 1? product.skus[0].id:''}" />
            <!--  <div class="lined box ptb30lr40">
                 <div class="w100 fz30">请选择</div>
                 <div class="arrow adown k-width9 fz30">型号/数量/款式</div>
             </div> -->
            <div data-th-if="*{skus.size() gt 1}" class="lined box ptb20 font-dark">
                <div class="w100 fz30 ml30">型号</div>
                <div class="flex1 mr30">
                    <div class="button fz30 prodOption mb10 ff-numb" data-th-each="sku:*{skus}" data-th-if="${sku.amount > 0}" data-th-text="${sku.spec}" data-th-attr="sku_id=${sku.id},sku_amount=${sku.amount},sku_price=${#numbers.formatDecimal(sku.price,1,'COMMA',2,'POINT')}"></div>
                </div>
            </div>
            <div class="lined box ptb20 font-dark">
                <div class="w100 fz30 ml30">数量</div>
                <div class="flex1 fz30 ff-numb">
                    <span data-th-replace="fragments/numEditor(*{amount})"></span>
                </div>
                <div class="fz24 font-light num-em mr20" data-th-utext="#{inventory.amount(*{amount})}"></div>
            </div>
            <div class="button-bar clearfix ptb20">
                <div data-th-remove="tag" data-th-if="${product.status.name() == 'ONSALE' and product.amount > 0}">
                    <div class="fl-l"><a id="addtocart" class="button white bg-white btn-round font-orange fz24">加入购物车</a></div>
                    <div class="fl-r"><a id="buy" class="button white bg-orange btn-round fz24 font-white">立即购买</a></div>
                </div>
                <div data-th-remove="tag" data-th-unless="${product.status.name() == 'ONSALE' and product.amount > 0}">
                    <div class="fl-l">商品已下架</div>
                </div>
            </div>
        </form>
    </section>
    <section data-th-object="${product}" class="lined">
        <form id="addToCartForm" method="POST" action="/cart/buy">
            <input type="hidden" id="sellerId" name="sellerId" value="shop.ownerId"/>
            <input type="hidden" id="productId" name="productId" data-th-value="${product.id}"/>
            <input type="hidden" id="skuId" name="skuId" data-th-value="${product.skus.size() eq 1? product.skus[0].id:''}" />
            <div class="button-bar xq-button ptb20">
                <div data-th-remove="tag" data-th-switch="${product.status.name()}">
                    <div data-th-remove="tag" data-th-case="'ONSALE'">
                        <a id="buy" class="button white xq-buy-btn fz24 font-white">立即购买</a>
                    </div>
                    <div data-th-case="*">
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="lined">
        <img class="full" data-th-each="descImg:${product.imgs}" data-vd-src="${descImg.img}" />
        <div class="fz26"><p id="prod_desc" class="pro-main-infor ptb30lr40 widthhuanh" data-th-text="${product.description}"></p></div>
        <div data-th-if="${fragmentStatus}">
        	<section data-th-each="fragment:${fragmentList}">
	        	<div class="fz26" data-th-if="${fragment.showModel}">
	        		<p id="prod_desc" class="pro-main-infor ptb30lr40 widthhuanh" data-th-text="${fragment.description}"></p>
	        	</div>
	        	<img class="full" data-th-each="fragmentImage : ${fragment.imgs}" data-vd-src="${fragmentImage.imgUrl}" />
	        	<div class="fz26" data-th-unless="${fragment.showModel}">
	        		<p id="prod_desc" class="pro-main-infor ptb30lr40 widthhuanh" data-th-text="${fragment.description}"></p>
	        	</div>
        	</section>
        </div>
    </section>
	<!--
    <section>
        <div class="shop-start">
            <img class="shop-start-img" data-vd-src="/_resources/images/shop-start.png" alt="" />
            <a class="shop-start-btn button bg-orange btn-round fz24 font-white" href="http://www.kkkd.com">我要开店</a>
        </div>
    </section>
    -->
    <section class="footer-bottom">
        <ul class="foorer-nav box">
            <li class="footer-item flex1 footer-line">
                <a data-th-href="'/catalog/search?shopId='+${shop.id}">
                    <i class="footer-ico">
                        <img class="img-auto" data-vd-src="/_resources/images/footerico_22.png" alt="" />
                    </i>
                    <span class="footer-text fz26 font-light">店内搜索</span>
                </a>
            </li>
            <!--
            <li class="footer-item flex1">
                <a data-th-href="'/cart?shopId='+${shop.id}">
                    <i class="footer-ico">
                        <img class="img-auto" data-vd-src="/_resources/images/footerico_19.png" alt="" />
                    </i>
                    <span class="footer-text fz26 font-light">购物车</span>
                </a>
            </li>
            -->
        </ul>
    </section>
</div>
<div data-layout-fragment="postScript">
    <script type="text/javascript" data-th-src="@{/_resources/js/page/product.js}"></script>
    <script type="text/javascript" charset="utf-8" data-th-src="@{/_resources/js/page/imgsize.js?t=201408080246}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            if($(".pro-infor").length !== 0){
                var imgObj= $(".js-img-size");
                var imgWidth= $(".pro-infor");
                imgSize(imgObj,imgWidth);
            }
        })

    </script>
    <script>
        $.wxShare($('#prod_title').text(), $('#prod_desc').text(), $('#prod_img')[0].src, location.href);
        $(document).ready(function(){
            $(".prodOption").click(function(ev){
                $(".numInc").attr('th:atrrs',$(ev.target).attr('sku_amount'));
            })
        })
    </script>
</div>
</body>
</html>