<!DOCTYPE html>
<html>
<head>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet" media="screen" data-th-href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" data-th-fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Demo project</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" data-th-href="@{/}">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-th-if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" data-th-href="@{/signin}">Sign in</a>
                </li>
                <li data-th-if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" data-th-href="@{#}" onclick="$('#form').submit();">Logout</a>
                    <form style="visibility: hidden" id="form" method="post" action="#" data-th-action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>