<!DOCTYPE html>
<html data-layout-decorator="/layout/mainPage">
<head>
    <title>请求错误</title>
</head>

<body id="cart-body" class="as_page">
    <div data-layout-fragment="content" style="text-align:center">
        <p class="bigger">请求参数错误</p>
    </div>
    <script data-layout-fragment="postScript">
    /*
    $(document).ready(function() {
        setTimeout(function() {
            var orderId = $('input[name=orderId]').val();
            location.href = "/order/" + orderId;
        }, 3000);       
    });
    */
    </script>
</body>
</html>