<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title data-layout-title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE" >想去</title>
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
</head>
<body>
<div id="afui">
    <div id="header" data-layout-fragment="header"></div>
    <div id="content">
        <div id="nav" data-layout-fragment="nav">
        </div>
        <div id="main" class="J_wapOrder" data-layout-fragment="content">
        </div>
    </div>
    <div data-layout-fragment="footer" data-th-remove="tag"></div>

    <!--[if !IE]><!-->
    <script type="text/javascript" charset="utf-8" data-th-src="@{/_resources/js/appframework.min.js}"></script>
    <!--<![endif]-->
    <!--[if IE]>
    <script type="text/javascript" charset="utf-8" src="/_resources/js/jquery-1.11.1.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" data-th-src="@{/_resources/js/plugins/fastclick.js}"></script>
    <script>
        FastClick.attach(document.body);
    </script>
    <script type="text/javascript" charset="utf-8" data-th-src="@{/_resources/js/vd_base.js}"></script>
    <script data-layout-fragment="postScript"></script>
</div>
</body>
</html>