<!DOCTYPE html>
<html data-layout-decorator="/layout/mainPage">
<head>
    <title>订单</title>
</head>

<body id="cart-body" class="as_page">
    <header class="header" data-layout-fragment="header">
        <a id="backButton" class="button backButton" data-th-text="#{Back}">Back</a>
    </header>
    <div data-layout-fragment="content" style="text-align:center">
        <div class="notfound-404" style="margin:20px 0;"></div>
        <p class="bigger">订单不存在或者没有权限访问</p>
        <p>订单不存在或者没有权限访问， 请登录或者返回上一步页面</p>
    </div>
</body>
</html>