<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/mainPage">
<head>
	<title>图片上传</title>
	
	<script th:inline="text">
	 /*<![CDATA[*/
	    $(function(){
	    	$('#form1').form({
	    	    onSubmit: function(){
	    	    	var filepath=$("input[name='file']").val();
	    	    	if(filepath.length==0){
	    	    		$.messager.alert('提示','请选择所要上传的图片!','info');
		    	        return false;
	    	    	}
	    	        var extStart=filepath.lastIndexOf(".");
	    	        var ext=filepath.substring(extStart,filepath.length).toUpperCase();
	    	        if(ext!=".BMP"&&ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"){
	    	        	$.messager.alert('提示','上传图片限于bmp,png,gif,jpeg,jpg格式!','error');
		    	        return false;
	    	        }
	    	        $.messager.progress({text:'图片上传中...'});
	    	        return true;
	    	    },
	    	    success:function(data){
	    	    	$.messager.progress("close");
	    	    	try{
	    	    		data = $.parseJSON(data);
	    	    	}catch(e){
	    	    		$("#w").html(data).window('open');
	    	    		return ;
	    	    	}
	    	    	if(data instanceof Array){
	    	    		var str="上传成功!<br/>";
	    	    		for(var i=0;i<data.length;i++){
	    	    			var obj=data[i];
	    	    			str+="key："+obj.key+"<br/>";
	    	    			str+="url："+obj.url+"<br/>";
	    	    			str+="宽*高："+obj.width+"*"+obj.height;
	    	    		}
	    	    		$("#w").html(str).window('open');
	    	    		
	    	    	}else $.messager.alert('提示','返回数据格式错误!','error');
	    	    }
	    	});
	    });
	 
	 	function submitForm(){
	 		$('#form1').submit();
	 	}
		/*]]>*/
	</script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false" layout:fragment="content">
    <div style="width:500px;margin:50px auto 0;">
    	<div class="easyui-panel" title="图片上传" data-options="fit:true">
    		<form id="form1" method="post" enctype="multipart/form-data" action="" th:action="'_f/u?'+${_csrf.parameterName}+'='+${_csrf.token}">
		        <div style="margin:20px;">
		            <!-- <input class="easyui-filebox" name="file" data-options="prompt:'请选择要上传的图片',buttonText:'选择图片'" style="width:100%" /> -->
		            <input type="file" name="file" style="width:100%;" />
		            <input type="hidden" value="" name="belong" th:value="${belong}"/>
		        </div>
	        </form>
	        <div style="text-align:center;margin-bottom:20px;">
	            <a href="#" onclick="submitForm();" class="easyui-linkbutton" style="width:50%">上传</a>
	        </div>
	    </div>
    </div>
    <div id="w" class="easyui-window" title="提示" data-options="modal:true,closed:true" style="width:500px;height:200px;padding:10px;line-height:20px;font-size:14px;"></div>
    
</body>
</html>