<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/mainPage">
<head>
	<title>提现管理</title>
	
	<script th:inline="text">
	 /*<![CDATA[*/
	    var grid;
		var jsQuery = function() {
			$(':text').each(function(){
			    $(this).val($.trim($(this).val()));
			  });
			var params =  $.serializeObject($('#searchForm'));
			params.[[${_csrf.parameterName}]] = '[[${_csrf.token}]]';
			grid.datagrid('load', params);
		};
		
		$(function() {
			grid = $('#grid').datagrid({
				title : '',
				url : 'commission/list',
				striped : true,
				rownumbers : true,
				pagination : true,
				pageSize : 15,
				pageList: [10,15,20,30,50],
				singleSelect : true,
				idField : 'id',
				queryParams: {
					[[${_csrf.parameterName}]] : '[[${_csrf.token}]]'
				},
				frozenColumns : [ [ {
					field : 'id',
					checkbox: true
				},{
					width : '130',
					title : '订单号',
					halign:'center',
					field : 'orderNo'
				},{
					width : '60',
					title : '订单状态',
					halign:'center',
					field : 'orderStatus'
				} ] ],
				columns : [ [ {
					width : '150',
					title : '商品名称',
					field : 'productName'
				}, {
					width : '80',
					title : '类型描述',
					field : 'skuName'
				}, {
					width : '80',
					title : '佣金类型',
					field : 'type',
					formatter: function(value,row,index){
						if(value == 'PLATFORM'){
							return '平台佣金';
						}else if(value == 'KKKD'){
							return '快店佣金';
						}else if(value == 'CPS'){
							return 'CPS佣金';
						}
						 
					    return value;
					}
				}, {
					width : '70',
					title : '销售通道',
					field : 'partner'
				}, {
					width : '90',
					title : '第三方推广人',
					field : 'userName'
				}, {
					width : '60',
					title : '单价',
					align: 'right',
					field : 'price',
					formatter : formatNum
				},
				{
					width : '50',
					title : '数量',
					align: 'right',
					field : 'amount'
				},
				{
					width : '50',
					title : '分润比',
					align: 'right',
					field : 'rate',
					formatter: function(value,row,index){
						if(value == null || value == '') return '';
					    var d = parseFloat(value);
					    return d*100+'%';
					}
				},
				{
					width : '50',
					title : '分润金额',
					field : 'fee',
					align: 'right',
					formatter : formatNum
				},
				{
					width : '50',
					title : '分润状态',
					field : 'status'
				},
				{
					width : '50',
					title : '是否提现',
					field : 'withdrawn',
					formatter : formatDrawn
				}, 
				{
					width : '120',
					title : '更新时间',
					field : 'updatedAt',
					formatter: function(value,row,index){
					    var d = new Date(parseInt(value));
					    return d.format('yyyy-MM-dd hh:mm:ss');
					}
				}  ] ],
				toolbar : '#toolbar'
			});
			
			 $(':text').bind('keypress',function(event){
		            if(event.keyCode == "13") {
		            	jsQuery();
		            }
		     });
		});
		
		function formatNum(value,row,index){
			if(value===null)return "0.00";
			value = value + "";
			return value.substring(0,value.indexOf(".") + 3);
			//return value.toFixed(2);
		}
		
		function formatDrawn(value,row,index){
			if(value=='1')return "已提现";
			return "未提现";
		}
		/*]]>*/
	</script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false" layout:fragment="content">
	<div id="toolbar" style="display: none;">
		<form id="searchForm">
		<table>
			<tr>
				<td style="width: 60px; text-align: right;">订单号</td>
				<td><input type="text" id="orderNo_kwd"  name="orderNo_kwd" placeholder="订单编号" style="width:110px;"/></td>
				<td style="width: 60px; text-align: right;">状态</td>
				<td>
					<select name="commission_status_kwd" class="easyui-combobox">
						<option value="">全部</option>
						<option value="NEW">NEW</option>
						<option value="SUCCESS">SUCCESS</option>
						<option value="CLOSED">CLOSED</option>
					</select>
				</td>
				<td style="width: 60px; text-align: right;">销售渠道</td>
				<td>
					<select name="commission_partner_kwd" class="easyui-combobox">
						<option value="">全部</option>
						<option value="kkkd">kkkd</option>
						<option value="xiangqu">xiangqu</option>
					</select>
				</td>
				<td style="width: 70px; text-align: right;">佣金类型</td>
				<td>
					<select name="type_kwd" class="easyui-combobox">
						<option value="">全部</option>
						<option value="PLATFORM">平台佣金</option>
						<option value="KKKD">快店佣金</option>
						<option value="CPS">cps佣金</option>
					</select>
				</td>				
				<td style="width: 70px; text-align: right;">卖家电话</td>
				<td>
					<input type="text" id="userPhone_kwd"  name="userPhone_kwd" style="width:110px;"/>
				</td>
				<td style="width: 70px; text-align: right;">
				<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'" 
				onclick="jsQuery()">查询</a></td>
				<td><div class="datagrid-btn-separator"></div></td>
			</tr>
		</table>
		</form>
	</div>
	<div data-options="region:'center',fit:true,border:false">
		<table id="grid" data-options="fit:true,border:false">
		<!-- 
		 <thead>
			<tr>
			<th data-options="field:'code'">Code</th>
			<th data-options="field:'name'">Name</th>
			<th data-options="field:'price'">Price</th>
			</tr>
			</thead>
		-->
		</table>
	</div>
	<script>
	/* $("document").ready(function(){
		$(".easyui-layout").css("height",$("#toolbar").height();
	}) */
	</script>
</body>
</html>