<!doctype html>
<html ng-app="testapp">
<head>
    <link rel="stylesheet" href="index.css">
    <!--<script src="http://ngnice.com/lib/angular/1.2.16/angular.js"></script>-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-controller="testController">
<!--<div>-->
    <!--<label ng-class='{color_c:colorc,color_d:colord}'>Name:</label>-->
    <!--<input type="text" ng-model="yourName" placeholder="Enter a name here">-->
    <!--<hr ng-show='ngShow'>-->
    <!--<h1 class="color_{{color}}" ng-click="changeColor()">Hello {{yourName}}</h1>-->
<!--</div>-->
<div ng-view></div>
<loader howToLoad="howtoloader()">loader</loader>
<loader howToLoad="howtoloader2()">loader2</loader>
<div my-directive my-func="myFunc()" title="title" info="SomeString" inf="dsa"></div>
<div add ng-init="numnow=11"></div>
</body>
</html>