* {
  margin: 0;
  padding: 0;
}

body {
  width: 6.4rem;
  margin: 0 auto;
}

header {
  width: 6.4rem;
  height: 1.32813rem;
  background: navajowhite;
}

section div {
  width: 6.4rem;
  background: #afdb00;
  font-size: 14px;
  line-height: 0.625rem;
}
[data-dpr="2"] section div {
  font-size: 28px;
}
[data-dpr="3"] section div {
  font-size: 42px;
}
section img {
  width: 100%;
}
section .circle {
  width: 0.66rem;
  height: 0.66rem;
  display: block;
  margin-left: 0.32rem;
  border-radius: 0.33rem;
}
